<div class="card text-center m-1 p-1 bg-gradient bg-transparent" style="background-color: #e3f2fd;">
    <div class="card-header">
        <h2>
            <span style="color: #172731;">THANK YOU</span>

        </h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card m-3 bg-gradient" style="background-color: #295a38;  color: azure;">
                <div class="card-body">
                    <h5 class="card-title">CONTACT US</h5>
                    <p class="card-text"><strong>ADDRESS:</strong> Rua Fradesso da Silveira No. 79
                        1300-200 Lisboa, Portugal</p>
                    <div class="d-flex justify-content-around bg-gradient">
                        <div class="card bg-transparent" style="width: 18rem;">
                            <strong>PHONE:</strong>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">00351 213 951 607</li>
                                <li class="list-group-item">00351 920 534 277</li>
                                <li class="list-group-item">0041 765 593 874</li>
                            </ul>
                        </div>
                        <div class="card bg-transparent" style="width: 18rem;">
                            <strong>EMAIL:</strong>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">XXXX@XXX.com</li>
                                <li class="list-group-item">XXXX@XXX.com</li>
                                <li class="list-group-item">XXXX@XXX.com</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card m-3">
                <div class="card-body bg-gradient" style="background-color: #295a38; color: azure;">
                    <h5 class="card-title">Location Maps</h5>
                    <p class="card-text">Map Will be here soon.</p>
                    <!-- <div class="my-google-map">
                        <google-map [options]="mapOptions">
                            <map-marker [position]="marker.position"></map-marker>
                        </google-map>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <h3>
            <span class="bg-gradient" style="color: #d04a4af5;">WE CARE YOU AND YOUR FAMILY!</span>

        </h3>
    </div>
</div>
