<div class="img-fluid" style="margin-top: 100px;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="text-center bg-transparent" style="color: #094f7e;">
                    <div class="card-header">
                        <h3>
                            <span>
                                Aventure
                            </span>
                        </h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">The world you have naver seen</h5>
                        <p class="card-text">We care you and your family. We help you to make sure that your trip will
                            be your memorable.</p>
                    </div>
                </div>
            </div>
            <div class="card col-sm-6" style="background-color:#c8fb91">
                <form style="color: #0e161b;">
                    <div class="row g-3 p-2">
                        <div class="card-header">
                            <h5 class="card-title text-uppercase">Book Room</h5>
                        </div>
                        <div class="col">
                            <label for="">Check In</label>
                            <input type="date" class="form-control" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                            <label for="">Check Out</label>
                            <input type="date" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>

                    </div>
                    <div class="row g-3 p-2">
                        <div class="col">
                            <label for="">Adult</label>
                            <input type="number" class="form-control" placeholder="Number of Adult"
                                aria-label="First name">
                        </div>
                        <div class="col">
                            <label for="">Child</label>
                            <input type="number" class="form-control" placeholder="Number of Children"
                                aria-label="Last name">
                        </div>

                    </div>
                    <div class="row g-3 p-2">
                        <div class="col d-grid gap-2">
                            <button class="btn btn-outline-success btn-lg">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <app-menu></app-menu>
</div>
