<div class="card container text-center p-3 bg-transparent mt-1">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 bg-gradient" style="background-color: #25621295; border-radius: 1rem;">
                <button class="btn text-uppercase" style="background-color: #51903e71;color: azure;"><span>Front Office
                        24h
                    </span>
                </button>

            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-gradient" style="background-color: #25621295; border-radius: 1rem;">
                <button class="btn text-uppercase" style="background-color: #51903e71;color: azure;"><span>kitchen
                    </span>
                </button>

            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-gradient" style="background-color: #25621295; border-radius: 1rem;">
                <button class="btn text-uppercase" style="background-color: #51903e71;color: azure;"><span>breakfast
                    </span>
                </button>

            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-gradient" style="background-color: #25621295; border-radius: 1rem;">
                <button class="btn text-uppercase" style="background-color: #51903e71;color: azure;"><span>washing
                        machine
                    </span>
                </button>

            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-gradient" style="background-color: #25621295; border-radius: 1rem;">
                <button class="btn text-uppercase" style="background-color: #51903e71;color: azure;"><span>wifi free
                    </span>
                </button>

            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-gradient" style="background-color: #25621295; border-radius: 1rem;">
                <button class="btn text-uppercase" style="background-color: #51903e71;color: azure;"><span>living room
                    </span>
                </button>

            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-gradient" style="background-color: #25621295; border-radius: 1rem;">
                <button class="btn text-uppercase" style="background-color: #51903e71;color: azure;"><span>free public
                        parking
                    </span>
                </button>

            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-gradient" style="background-color: #25621295; border-radius: 1rem;">
                <button class="btn text-uppercase" style="background-color: #51903e71;color: azure;"><span>dry machine
                    </span>
                </button>

            </div>
        </div>

    </div>
</div>